{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
      
</h1>
<div class="topnav" id="myTopnav">
    <ul class="navbar-nav mr-auto">
    <button class="button is-block is-info is-large is-fullish">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item ">
                         <a class="nav-link" href="/account_details"><span class="badge badge-secondary">Update_Profile</span></a>
                     </li>
                  </ul>
        </div>

edit_profile</button>
    </ul>
</div>
{% endblock  %}