<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>

    <body>
        <section class="hero is-primary is-fullheight">
           <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
              <a class="navbar-brand" href=""><span class="badge badge- secondary">SCHOOL_ME</span></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
               <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>
              <div class="topnav" id="myTopnav">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">{{ current_user.name}}</span></a>
                  </li>
                    {% if current_user.is_authenticated %}
                  <li class="nav-item ">
                    <a class="nav-link" href="/account"><span class="badge badge-secondary">Profile</span></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/quizes"><span class="badge badge-secondary">Questions</span></a>
                  </li>

                  <li class="nav-item ">
                      <a class="nav-link" href="/account_details"><span class="badge badge-secondary">Edit_Profile</span></a>
                  </li>


                  <li class="nav-item ">
                      <a class="nav-link" href="/solutions"><span class="badge badge-secondary">answer</span></a>
                  </li>

                  <li class="nav-item ">
                    <a class="nav-link" href="/unanswered"><span class="badge badge-secondary">unanswered</span></a>
                  </li>

                    {%if current_user.admin%}
                  <li class="nav-item ">
                    <a class="nav-link" href="/ask"><span class="badge badge-secondary">ask</span></a>
                  </li>

                  <li class="nav-item ">
                    <a class="nav-link" href="/users"><span class="badge badge-secondary">users</span></a>
                  </li>
                    {% endif %}

                    {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/sign_up"><span class="badge badge-secondary">Sign_up</span></a>
                  </li>

                  <li class="nav-item a">
                    <a class="nav-link" href="/login"><span class="badge badge-secondary">Login</span></a>
                  </li>
                    {% endif %}
                  <li class="nav-item ">
                    <a class="nav-link" href="/logout"><span class="badge badge-secondary">Exit</span></a>
                  </li>

                </ul>

              </div>
           </nav>

                    <div class="hero-body">
                        <div class="container has-text-centered">
                           {% block content %}
                                {% block body %}
                                {% endblock body %}
                            <footer>
                                <section>
                                     <div class="social-media fixed">
                                            <a class="facebook-icon social-icon" href="https://www.facebook.com">
                                                <i class="fa fa-facebook"></i>
                                            </a>

                                            <a class="twitter-icon social-icon" href="https://www.twitter.com">
                                                <i class="fa fa-twitter"></i>
                                            </a>

                                            <a class="instagram-icon social-icon" href="https://www.instagram.com">
                                                <i class="fa fa-instagram"></i>
                                            </a>

                                            <a class="linkedin-icon social-icon" href="https://www.linkedin.com">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                     </div>
                                </section>
                            </footer>
                           {% endblock content %}
                        </div>
                    </div>
        </section>
    </body>

</html>
